<!DOCTYPE html>
<html>

<head>
  <title>ini Projects</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>HELLO <%=user.firstname%>! </h1>
  <p>Welcome to Projects</p>
  <a href="/logout">
    keluar
  </a>
</body>

</html>